* {
    border: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
/* SECTION DEFINITION */
.header {
    background-color: #1F2937;
}
.underhead {
    background-color: #1F2937;
}
.info {
    background-color: white;
}
.quote {
    background-color: #E5E7EB;
}
.signup {
    background-color: white;
}
.footer {
    background-color: #1F2937;
}
/* FLEX BOX PLAY */
.container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    padding: 18px 0 18px 0;
}
.header .container .left {
    flex-grow: 1;
    text-align: left;
}
.header .container .right {
    flex-grow: 1;
    text-align: right;
}
/* Text Styling */

.logo-text {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
}
.header .container a {
    text-decoration: none;
    color: #F9FAF8;
    padding-left: 10px;
}
.header .container a:hover {
    text-decoration: underline;
    color: #F9FAF8;
    padding-left: 10px;
}
