* {
    border: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
/* SECTION DEFINITION */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px 0 25px 0;
}
.underhead {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 60px 0 60px 0;
}
.info {
    background-color: white;
    padding: 25px 0 25px 0;
}
.quote {
    background-color: #E5E7EB;
    padding: 25px 0 25px 0;
}
.signup {
    background-color: white;
    padding: 25px 0 25px 0;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px 0 25px 0;
}
/* FLEX BOX PLAY */
.container {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .left {
    flex-grow: 1;
    text-align: left;
}
.container .right {
    flex-grow: 1;
    text-align: right;
}
/* Text Styling */
.logo-text {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
}
.header .container a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 10px;
}
.header .container a:hover {
    text-decoration: underline;
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 10px;
}
.underhead .container .left .main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.underhead .container .left p {
    text-align: left;
}
/* Others */
.img-head {
    width: 400px;
}
.underhead .container .left button {
    background-color: #3882F6;
    border: 3px solid transparent;
    margin: 20px 0 0 0;
    padding: 5px 25px 5px 25px;
    color: #F9FAF8;
    border-radius: 5px;
}
.underhead .container .left button:hover {
    background-color: white;
    border: 3px solid #3882F6;
    color: #3882F6;
}
